body {
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    background-color: darkgray;
    font: 1em Cursive;
    align-self: center;
}

header {
    width: fit-content;
    font-size: 48px;
    font: 48px Cursive;
}

canvas{
    background-color: white;
    border: 10px solid rgb(53, 53, 53);
    box-shadow: black;
}

.tools .active{
    border: lightblue solid 4px;
}
.tools{
    display: flex;
    justify-self: center;
    flex-direction: row;
    margin-top: 15px;
    margin-right: 3px;
    border: 1px round black;
}

.tools .button {
    align-self: center;
    width: 40px;
    height: 40px;
    border: 1px round black;
    margin: 1px;
    cursor:pointer;
}

#pencil {
    background-image: url("./pencil.png");
    background-size: 100%;
    background-position: center;
}

#eraser {
    background-image: url("./eraser.png");
    background-size: 120%;
    background-position: center;
}

#text {
    background-image: url("./text.png");
    background-size: 100%;
    background-position: center;
}

#triangle {
    background-image: url("./triangle.png");
    background-size: 100%;
    background-position: center;
}

#rectangle {
    
    background-image: url("./rectangle.png");
    background-size: 100%;
    background-position: center;
}

#circle {
    background-image: url("./circle.png");
    background-size: 100%;
    background-position: center;
}

#filled {
    background-image: url("./empty.png");
    background-size: 100%;
    background-position: center;
}
#undo {
    
    background-image: url("./undo.png");
    background-size: 100%;
    background-position: center;
    
    
}

#redo {
    background-image: url("./redo.png");
    background-size: 100%;
    background-position: center;
}

#restart {
    background-image: url("./restart.png");
    background-size: 110%;
    background-position: center;
}

#download {
    background-image: url("./download.png");
    background-size: 100%;
    background-position: stretch;
}

#upload {
    width: 200px;
    align-self: stretch;
    height: 30px;
}

.color-picker {
    align-self: stretch;
    height: 40px;
    
}

.pen-range {
    align-self: flex-start;

}

#typeSize {
    
    align-self: flex-start;
    width: 40px;
}
#typeFont {
    align-self: flex-start;
}

